.breadcrumbs {
    padding-bottom: 15px;
}
.breadcrumbs ul {
    padding: 0;
    display: inline;
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs li:not(:last-of-type):after {
    content: " | ";
}
.breadcrumbs li a {
    color: blue;
}
.breadcrumbs li a.active {
    text-decoration: underline;
}
