.header ul {
    padding: 0;
}
.header li {
    display: inline;
}
.header li:not(:last-of-type):after {
    content: " | ";
}
.header li a {
    color: blue;
}
.header li a.active {
    text-decoration: underline;
}
